{% extends "base.twig" %}

{% block content %}

{% set videos = [0, 4, 8] %}
{% set images = [1, 2, 3, 5, 6, 7] %}

<div class="l-page-section l-archive-testimonials">
	<div class="container">
		<div class="row">
			{% for testimonial in testimonials %}
				{% if loop.index0 in videos %}
					<div class="l-archive-testimonials__video">
						<div class="col-md-8 no-p-mob b-two-column-video__video js-match-height">
							<div class="video js-match-height">
								<script src="//fast.wistia.com/embed/medias/{{testimonial.success_story_id}}.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_{{testimonial.success_story_id}} videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
							</div>
						</div>

						<div class="col-md-4 b-two-column-video__content js-match-height">
							{{testimonial.post_content}}
						</div>
					</div>
				{% elseif loop.index0 in images %}
					{% if testimonial.thumbnail %}
						{% set testImg = testimonial.thumbnail %}
					{% else %}
					    {% set testImg = site.theme.link~'/app/img/tmp/placeholder.jpg' %}
					{% endif %}
					<div class="col-md-4 l-archive-testimonials__text js-match-height">
						<div class="block-container">
							<div class="img-container" style="background-image: url({{testImg}})"></div>
							{{testimonial.post_content}}
							<p><strong>{{testimonial.post_title}}</strong></p>
						</div>
					</div>
				{% else %}
				    <div class="col-md-4 l-archive-testimonials__text js-match-height">
						<div class="block-container">
							{{testimonial.post_content}}
							<p><strong>{{testimonial.post_title}}</strong></p>
						</div>
				    </div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

{% include 'layout/acf/instagram-block.twig' %}

{% include 'footer.twig' %}

{% endblock %}


