{% extends "base.twig" %}

{% block content %}

<div class="l-page-section l-archive-conditions">
	<div class="container">
		<div class="row">
			<div class="col-md-3 l-archive-conditions__sticky">
				<h2>Conditions</h2>

				<p>Click on the condition to reveal the recommended treatment and follow the link to the page to find out more about that treatment.</p>
			</div>
			<div class="col-md-9">
				{% for article in conditions %}
					<div class="l-archive-conditions__condition">
						<h3>{{article.title}} <span class="icon-caret-down"></span></h3>
						
						<div class="l-archive-conditions__condition--content">
							{{article.content}}
									
							<ul>
								{% for term in article.get_field('available_treatments') %}
									{% set term = TimberPost(term) %}
									<li class="{{term.slug}}">
										<a href="{{term.link}}">{{term.name}}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
</div>

{% include 'layout/acf/instagram-block.twig' %}

{% include 'footer.twig' %}

{% endblock %}


