{% extends "base.twig" %}
{% block content %}
	{% include 'layout/acf/hero.twig' with {'postType': 'page'} %}

	<div class="l-home">
		<div class="container">
			<div class="l-page-section l-home__intro">
				<div class="row">
					<div class="col-md-4 l-home__intro--content">
						<h2 class="text-center">{{post.get_field('top_treatments_title')}}</h2>
						{{post.get_field('top_treatments_content')}}
						<div class="text-center">
							<a href="#" class="b-button">
								View all our treatments
							</a>
						</div>
					</div>
					<div class="col-md-12 l-home__intro--grid">
						{% for treatment in post.get_field('top_treatments_treatments') %}
							{% set treatPost = TimberPost(treatment.treatment) %}
						    <a href="{{treatPost.link}}" class="treatment" style="background-image: url({{treatment.image.url}})">
						    	<h3 class="ab-center">{{treatPost.post_title}}</h3>
						    </a>
						{% endfor %}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h2 class="section-header text-center">Success Stories</h2>
					</div>
				</div>
				<div class="row l-home__video">
					<div class="col-md-12">
						<div class="video js-match-height">
							<script src="//fast.wistia.com/embed/medias/{{post.get_field('success_story_id')}}.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_{{post.get_field('success_story_id')}} videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
						</div>
						<div class="content text-center js-match-height">
							{{post.get_field('success_story_content')}}

							<a href="/testimonials" class="b-button">More success stories</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% include 'layout/acf/instagram-block.twig' %}

		<div class="l-home__about">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="content">
							<h2>ABOUT DR NYLA</h2>
							{{post.get_field('about_content')}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include 'layout/acf/image-cta.twig' %}
	{% include 'footer.twig' with {'pullup': '120'} %}
{% endblock %}

