{% include 'layout/acf/social-cta.twig' %}

<footer>
	<div class="l-footer">
		<div class="container h-100">
			<div class="row h-100">
<!-- 				<div class="col-sm-4 col-lg-2">
					<h6>Account</h6>
					<ul>
						{% for item in footerAccountNav.get_items %}
							<li class="l-footer__nav--item {{item.classes | join(' ')}}">
								<a href="{{item.get_link}}">{{item.title}}</a>
							</li>
						{% endfor %}
					</ul>
				</div> -->

				<div class="col-sm-6 col-lg-2">
					<h6>Legal Information</h6>
					<ul>
						{% for item in footerLegalNav.get_items %}
							<li class="l-footer__nav--item {{item.classes | join(' ')}}">
								<a href="{{item.get_link}}">{{item.title}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>

				<div class="col-sm-12 col-lg-10">
					{% if options.footer_content %}
						<h6>Arro Money</h6>

						{{options.footer_content}}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</footer>
