<div class="l-page-section b-large-cta {{media_item.theme}}">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="b-large-cta__content text-center">
					<p><span>{{media_item.title}}</span></p>
					<p>{{media_item.content}}</p>
					<a href="{{media_item.button_link}}" class="b-button">{{media_item.button_text}}</a>
				</div>
			</div>
		</div>
	</div>
</div>
