<div class="l-page-section b-social-cta">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="b-social-cta__content text-center">
					<div class="b-social-cta__content--item">
						<div class="icon">
							<a href="{{options.twitter}}" target="_blank"><span class="icon-twitter"></span></a>
						</div>
					</div>
					<div class="b-social-cta__content--item">
						<div class="icon">
							<a href="{{options.youtube}}" target="_blank"><span class="icon-youtube"></span></a>
						</div>
					</div>
					<div class="b-social-cta__content--item">
						<div class="icon">
							<a href="{{options.linkedin}}" target="_blank"><span class="icon-linkedin"></span></a>
						</div>
					</div>
					<div class="b-social-cta__content--item">
						<div class="icon">
							<a href="{{options.facebook}}" target="_blank"><span class="icon-facebook"></span></a>
						</div>
					</div>
					<div class="b-social-cta__content--item">
						<div class="icon">
							<a href="{{options.google_plus}}" target="_blank"><span class="icon-googleplus"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
