{% include 'module/mobile-nav.twig' %}

<header class="l-masthead {{theme}}">
	{% block header %}

		<div class="container h-100">
			<div class="row h-100">
				<div class="h-100 l-masthead__container">
					{% set template = post._wp_page_template %}
					<div class="l-masthead__logo masthead-item h-100">
						<a class="l-masthead__logo--img" href="{{site.link}}" title="{{site.name}}" rel="home"></a>
					</div>

					<div class="l-masthead__nav masthead-item dont-show-me-on-tabs">
						<ul>
							{% for item in primaryNav.get_items %}
								<li class="l-masthead__nav--item {{item.classes | join(' ')}}">
									<a href="{{item.get_link}}">{{item.title}}</a>

									{% if item.get_children %}
										<ul class="l-masthead__subnav">
											{% for child in item.get_children %}
												<li class="l-masthead__subnav--item {{child.classes | join(' ')}}">
													<a href="{{child.get_link}}">{{child.title}}</a>
												</li>
											{% endfor %}
										</ul>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</div>

					<div class="l-masthead__invite masthead-item">
						<a href="#" class="b-button b-button--signup">Join us</a>
					</div>

					<div class="mobile-sign-up b-button--signup show-on-all-tabs">
						<a href="#" class="b-button b-button--signup">Join us</a>
					</div>

					<div class="burger-container show-on-all-tabs">
						<div class="inner">
							<span class="burger-icon"></span>
						</div>
					</div>
				</div>
			</div>
		</div>

	{% endblock %}
</header>
