<div class="l-page-section b-two-column-image">
	<div class="container">
		<div class="row">
			{% if media_item.images %}
				<div class="{% if media_item.image_alignment == 'right' %}pull-right{% endif %} no-p-mob b-two-column-image__image js-match-height">
					<div class="grid">
						{% for image in media_item.images %}
							<img src="{{image.image.url}}" alt="{{image.image.alt}}">
						{% endfor %}
					</div>
				</div>
			{% endif %}

			{% if media_item.content %}
				<div class="b-two-column-image__content js-match-height">
					{% if media_item.header_title %}
						<h2>{{media_item.header_title}}</h2>
					{% endif %}

					{{media_item.content}}

					{% if media_item.has_button %}
						<a href="{{media_item.button_link}}" class="b-button"><span>{{media_item.button_text}}</span></a>
					{% endif %}
				</div>
			{% endif %}
		</div>
	</div>
</div>
