<div class="l-page-section l-page-section--flush">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center" style="margin-top: 30px;">
				<h2>{{media_item.header_title}}</h2>
			</div>
		</div>
	</div>
	<div class="container b-two-column-video">
		<div class="row">
			{% if media_item.youtube_embed_id %}
				<div class="col-md-8 col-sm-4 {% if not media_item.content %} col-centered {% endif %} {% if media_item.video_alignment == 'right' %}pull-right{% endif %} no-p-mob b-two-column-video__video js-match-height">
					<div class="video js-match-height">
						<script src="//fast.wistia.com/embed/medias/{{media_item.youtube_embed_id}}.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_{{media_item.youtube_embed_id}} videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
					</div>
				</div>
			{% endif %}

			{% if media_item.content %}
				<div class="col-md-4 col-sm-8 b-two-column-video__content js-match-height">
					{{media_item.content}}

					{% if media_item.has_button %}
						<a href="{{media_item.button_link}}" class="b-button"><span>{{media_item.button_text}}</span></a>
					{% endif %}
				</div>
			{% endif %}
		</div>
	</div>
</div>


